# Apache Deployment
apiVersion: apps/v1
kind: Deployment     # In this case we are using kind to specify the Kubernetes object being referenced by the manifest 
metadata:
  name: apache-deployment
  labels:
    app: apache
spec:
  replicas: 10
  selector:
    matchLabels:
      app: apache
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: apache
    spec:
      containers:
      - name: apache
        image: httpd:latest
        ports:
        - containerPort: 80
        resources:                   # Add this section for resource limits
          limits:
            cpu: "500m"              # Max 500 millicores of CPU
            memory: "512Mi"          # Max 512 MiB of memory
          requests:
            cpu: "250m"              # Request 250 millicores of CPU
            memory: "256Mi"          # Request 256 MiB of memory
---
# Apache Service
apiVersion: v1
kind: Service
metadata:
  name: apache-service
  labels:
    app: apache
spec:
  selector:
    app: apache
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort  # Use LoadBalancer for cloud environments
